fastapi~=0.104.1
uvicorn[standard]~=0.23.2
python-multipart
sqlalchemy~=2.0.23
asyncpg~=0.28.0
pydantic~=2.4.2
pydantic-settings
pydantic[email]
python-dotenv~=1.0.0
python-jose[cryptography]~=3.3.0
passlib[bcrypt]~=1.7.4
bcrypt<4.0.0,>=3.1.0
alembic~=1.12.0
fastapi-mail
requests